/* Website link */
.website-box {
    margin-top: 20px;
    text-align: center;
}

.website-box a {
    display: inline-block;
    background: #ff9800;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.website-box a:hover {
    background: #e68900;
}

/* Daily bonus button */
.bonus-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 18px;
    background: #4caf50;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.bonus-btn:disabled {
    background: gray;
    cursor: not-allowed;
}
