body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    text-align: center;
}

.scroll-msg {
    background: #111;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.container {
    padding: 20px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #ffcc33;
    margin-top: 10px;
}

.stats-box {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 12px;
    background: #111;
    border-radius: 12px;
}

.label {
    font-size: 12px;
    color: #ccc;
}

.value {
    font-size: 20px;
    font-weight: bold;
    color: #ffcc33;
}

.logo-wrapper {
    margin: 15px 0;
}

.logo {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    box-shadow: 0 0 40px gold;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.logo:active {
    transform: scale(0.92);
}

.tap-text {
    margin-top: 10px;
    font-size: 16px;
}

.footer-buttons {
    margin-top: 25px;
}

.btn {
    display: block;
    background: #222;
    padding: 12px;
    margin: 8px auto;
    width: 220px;
    border-radius: 10px;
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin-top: 25px;
    padding-bottom: 20px;
    color: #777;
}
