body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
    text-align: center;
}

.title {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #ffcc66;
}

.scroll-msg {
    background: #111;
    padding: 5px;
    font-size: 14px;
    color: #FFD700;
}

.stats-box {
    margin: 15px auto;
    width: 85%;
    background: #111;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
}

.label {
    font-size: 12px;
    color: #bbb;
}

.value {
    font-size: 20px;
    font-weight: bold;
    color: #FFD700;
}

.logo-wrapper {
    margin-top: 15px;
}

.logo {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    animation: pulse 1.8s infinite ease-in-out;
}

@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.08);}
    100% { transform: scale(1);}
}

.tap-text {
    margin-top: 12px;
    font-size: 16px;
}

.footer-buttons {
    margin-top: 20px;
}

.btn {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 12px;
    background: #222;
    border-radius: 10px;
    color: #FFD700;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #555;
}

footer {
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
}
