body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

h2 {
    text-align: center;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
}

#scrollMsg {
    width: 100%;
    height: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#searchBox {
    width: 200px;
    padding: 7px;
    margin-bottom: 10px;
}
