body {
    background: #0a0a0a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.topbar {
    background: #111;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #ffcc00;
}

.container {
    padding: 15px;
}

.card {
    background: #151515;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #222;
}

.card h3 {
    margin-top: 0;
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stat-box {
    background: #222;
    padding: 12px;
    border-radius: 10px;
    width: 32%;
}

.label {
    color: #aaa;
    font-size: 14px;
}

.value {
    color: #ffcc00;
    font-size: 22px;
    font-weight: bold;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #333;
}

th {
    background: #111;
}

/* Inputs */
textarea {
    width: 100%;
    height: 90px;
    background: #222;
    border: 1px solid #444;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    background: #ffcc00;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    color: #000;
}

.btn.red {
    background: #ff4444;
    color: #fff;
}
