body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.box {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #888;
    margin-bottom: 10px;
}

button {
    padding: 10px 18px;
    font-size: 16px;
    background: #0084ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #006cd3;
}

#searchBox {
    width: 250px;
    padding: 8px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
